.version.index /* version checker */
{
	color: #0000F0;
	background-color: #471BFD;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: -177px;
	width: 0.01px;/* should not cover content below */
}

#u75
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 10px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1100px;
	left: -100px;
}

#u121
{
	z-index: 3;
	width: 55px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 112px;
}

#pmenuu146
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 439px;
}

#menuu146
{
	z-index: 4;
	width: 419px;
	position: relative;
	margin-right: -10000px;
}

#u147
{
	width: 89px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u150
{
	width: 89px;
	padding-bottom: 17px;
	position: relative;
}

#u150:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u150.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u153-4
{
	width: 56px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u150:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u150.MuseMenuActive #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u154
{
	width: 93px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u155
{
	width: 93px;
	padding-bottom: 17px;
	position: relative;
}

#u155.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u158-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u155:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u155.MuseMenuActive #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u161
{
	width: 109px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u162
{
	width: 109px;
	padding-bottom: 17px;
	position: relative;
}

#u162.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u165-4
{
	width: 76px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u162:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 122px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
}

#u169
{
	width: 122px;
	padding-bottom: 17px;
	position: relative;
}

#u169.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 90px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u169:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u169.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	z-index: 29;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u176
{
	z-index: 30;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u177
{
	z-index: 31;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u75-bw
{
	z-index: 2;
	min-height: 59px;
}

#pu178
{
	width: 0.01px;
	margin-left: -101px;
}

#u178
{
	z-index: 69;
	width: 1301px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/img_top_home_1.jpg") no-repeat center center;
	background-size: cover;
}

#u188
{
	z-index: 70;
	width: 1301px;
	height: 779px;
	opacity: 0.19;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=19)";
	filter: alpha(opacity=19);
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	background: transparent url("../images/photo-1422157245273-e08b638b4b00.jpg") no-repeat center center;
	background-size: cover;
}

#u195
{
	z-index: 71;
	width: 1096px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 103px;
}

#u195_position_content
{
	padding-top: 38px;
	padding-bottom: 42px;
	width: 100%;
}

#pu202-4
{
	width: 0.01px;
}

#u202-4
{
	z-index: 72;
	width: 1099px;
	min-height: 37px;
	background-color: transparent;
	font-size: 50px;
	text-align: center;
	line-height: 60px;
	position: relative;
	margin-right: -10000px;
}

#u203-4
{
	z-index: 76;
	width: 382px;
	min-height: 82px;
	background-color: transparent;
	color: #477300;
	font-size: 72px;
	text-align: center;
	line-height: 86px;
	font-family: allura, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 360px;
}

#u205-4
{
	z-index: 80;
	width: 1060px;
	min-height: 111px;
	background-color: transparent;
	font-size: 30px;
	text-align: justify;
	line-height: 36px;
	font-family: buda, serif;
	font-weight: 300;
	margin-left: 19px;
	margin-top: 8px;
	position: relative;
}

#u891
{
	z-index: 115;
	width: 139px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../images/blank.gif");
	background-color: #000000;
	border-radius: 8px;
	padding-bottom: 4px;
	margin-left: 494px;
	margin-top: 15px;
	position: relative;
}

#u891:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 1s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 1s;
	transition-timing-function: ease;
	background-color: #7F7F7F;
	width: 139px;
	min-height: 0px;
	margin: 15px 0px 0px 494px;
}

#u894-4
{
	z-index: 116;
	width: 139px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u208
{
	z-index: 84;
	width: 1103px;
	height: 22px;
	background-color: #609900;
	position: relative;
	margin-right: -10000px;
	margin-top: 795px;
	left: 101px;
}

#u222-7
{
	z-index: 85;
	width: 302px;
	min-height: 193px;
	background-color: transparent;
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: cagliostro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 835px;
	left: 499px;
}

#u242
{
	z-index: 92;
	width: 383px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 832px;
	left: 103px;
}

#u213
{
	z-index: 94;
	width: 378px;
	height: 194px;
	background-color: #000000;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	position: relative;
	margin-right: -10000px;
	margin-top: 831px;
	left: 822px;
}

#u226
{
	z-index: 95;
	width: 224px;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1038px;
	left: 898px;
}

#u227-4
{
	z-index: 96;
	width: 77px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 74px;
}

#u451
{
	z-index: 100;
	width: 131px;
	background-color: #000000;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1086px;
	left: 584px;
}

#u452-4
{
	z-index: 103;
	width: 113px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u778
{
	z-index: 101;
	width: 131px;
	background-color: #000000;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1086px;
	left: 229px;
}

#u775-4
{
	z-index: 107;
	width: 113px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u784
{
	z-index: 102;
	width: 131px;
	background-color: #000000;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1086px;
	left: 945px;
}

#u781-4
{
	z-index: 111;
	width: 113px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u452,#u775,#u781
{
	color: #FFFFFF;
}

#u1700
{
	z-index: 120;
	width: 345px;
	min-height: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 831px;
	left: 838px;
}

#u187
{
	z-index: 32;
	width: 1303px;
	padding-bottom: 108px;
	left: -99px;
	margin-top: 1px;
	position: relative;
}

#u212
{
	z-index: 55;
	width: 55px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 126px;
}

#u447
{
	z-index: 62;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 182px;
}

#pu209-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 189px;
}

#u209-8
{
	z-index: 33;
	width: 258px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
}

#u449-4
{
	z-index: 65;
	width: 255px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 2px;
}

#u448
{
	z-index: 63;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 466px;
}

#u819-14
{
	z-index: 41;
	width: 282px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 485px;
}

#u450
{
	z-index: 64;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 828px;
}

#pu429
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 851px;
}

#u429
{
	z-index: 56;
	width: 26px;
	position: relative;
}

#u435
{
	z-index: 58;
	width: 26px;
	margin-top: 1px;
	position: relative;
}

#u441
{
	z-index: 60;
	width: 26px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-top: 36px;
	padding-bottom: 179px;
}

