#menuu146
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u147,#u150
{
	background-color: transparent;
}

#u153-4
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: acme, sans-serif;
	font-weight: 400;
}

#u150:hover #u153-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#u154,#u155
{
	background-color: transparent;
}

#u158-4
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: acme, sans-serif;
	font-weight: 400;
}

#u155:hover #u158-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#u161,#u162
{
	background-color: transparent;
}

#u165-4
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: acme, sans-serif;
	font-weight: 400;
}

#u162:hover #u165-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#u168,#u169
{
	background-color: transparent;
}

#u171-4
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 3px;
	font-family: acme, sans-serif;
	font-weight: 400;
}

#u169:hover #u171-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#u150.MuseMenuActive #u153-4 p,#u155.MuseMenuActive #u158-4 p,#u162.MuseMenuActive #u165-4 p,#u169.MuseMenuActive #u171-4 p
{
	color: #F7931E;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u75,#u187
{
	background-color: #000000;
}

#u121,#u212
{
	background: transparent url("../images/victory-outreach-gold-window-logo.png") no-repeat center center;
	background-size: contain;
}

#u209-8,#u449-4,#u819-14
{
	background-color: transparent;
	color: #FFFFFF;
}

#u175,#u176,#u177,#u447,#u448,#u450
{
	background-color: #FFFFFF;
}

#u429,#u435,#u441
{
	background-color: transparent;
}


