.version.registro /* version checker */
{
	color: #000003;
	background-color: #816409;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 499.75px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: -177px;
	width: 0.01px;/* should not cover content below */
}

#u75
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 10px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1100px;
	left: -100px;
}

#u121
{
	z-index: 3;
	width: 55px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 112px;
}

#pmenuu146
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 439px;
}

#menuu146
{
	z-index: 4;
	width: 419px;
	position: relative;
	margin-right: -10000px;
}

#u147
{
	width: 89px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u150
{
	width: 89px;
	padding-bottom: 17px;
	position: relative;
}

#u150:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u150.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u153-4
{
	width: 56px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u150:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u150.MuseMenuActive #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u154
{
	width: 93px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u155
{
	width: 93px;
	padding-bottom: 17px;
	position: relative;
}

#u155.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u158-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u155:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u155.MuseMenuActive #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u161
{
	width: 109px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u162
{
	width: 109px;
	padding-bottom: 17px;
	position: relative;
}

#u162.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u165-4
{
	width: 76px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u162:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 122px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
}

#u169
{
	width: 122px;
	padding-bottom: 17px;
	position: relative;
}

#u169.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 90px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u169:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u169.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	z-index: 29;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u176
{
	z-index: 30;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u177
{
	z-index: 31;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u75-bw
{
	z-index: 2;
	min-height: 59px;
}

#pu1126
{
	width: 0.01px;
	margin-left: -101px;
}

#u1126
{
	z-index: 69;
	width: 1301px;
	height: 1009px;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	background: #C4AF97 url("../images/photo-1427464407917-c817c9a0a6f6.jpg") no-repeat center center;
	background-size: cover;
}

#u1129
{
	z-index: 70;
	width: 1060px;
	height: 953px;
	opacity: 0.31;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=31)";
	filter: alpha(opacity=31);
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 121px;
	background: #FFFFFF url("../images/conf_fondo-u1129-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1186
{
	z-index: 71;
	width: 1060px;
	height: 31px;
	background-color: #629100;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u1609
{
	z-index: 72;
	width: 543px;
	min-height: 513px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 121px;
}

#u1696
{
	z-index: 73;
	width: 1062px;
	background-color: #7F7F7F;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 842px;
	left: 120px;
}

#u1690-17
{
	z-index: 74;
	width: 1060px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1690-2
{
	text-align: center;
	color: #FFFFFF;
}

#u1690-4,#u1690-6,#u1690-8,#u1690-10,#u1690-12,#u1690-14
{
	text-align: center;
	color: #040018;
}

#u1690-15
{
	color: #040018;
}

#u187
{
	z-index: 32;
	width: 1303px;
	padding-bottom: 108px;
	left: -99px;
	position: relative;
}

#u212
{
	z-index: 55;
	width: 55px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 126px;
}

#u447
{
	z-index: 62;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 182px;
}

#pu209-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 189px;
}

#u209-8
{
	z-index: 33;
	width: 258px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
}

#u449-4
{
	z-index: 65;
	width: 255px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 2px;
}

#u448
{
	z-index: 63;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 466px;
}

#u819-14
{
	z-index: 41;
	width: 282px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 485px;
}

#u450
{
	z-index: 64;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 828px;
}

#pu429
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 851px;
}

#u429
{
	z-index: 56;
	width: 26px;
	position: relative;
}

#u435
{
	z-index: 58;
	width: 26px;
	margin-top: 1px;
	position: relative;
}

#u441
{
	z-index: 60;
	width: 26px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-top: 36px;
	padding-bottom: 179px;
}

