.version.vision /* version checker */
{
	color: #000013;
	background-color: #551788;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: -177px;
	width: 0.01px;/* should not cover content below */
}

#u75
{
	z-index: 2;
	min-height: 59px;
	padding-bottom: 10px;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1100px;
	left: -100px;
}

#u121
{
	z-index: 3;
	width: 55px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 112px;
}

#pmenuu146
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 439px;
}

#menuu146
{
	z-index: 4;
	width: 419px;
	position: relative;
	margin-right: -10000px;
}

#u147
{
	width: 89px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u150
{
	width: 89px;
	padding-bottom: 17px;
	position: relative;
}

#u150:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u150.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u153-4
{
	width: 56px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u150:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u150.MuseMenuActive #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u154
{
	width: 93px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u155
{
	width: 93px;
	padding-bottom: 17px;
	position: relative;
}

#u155.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u158-4
{
	width: 60px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u155:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u155.MuseMenuActive #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u161
{
	width: 109px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u162
{
	width: 109px;
	padding-bottom: 17px;
	position: relative;
}

#u162.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u165-4
{
	width: 76px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u162:hover #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u165-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 122px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 297px;
}

#u169
{
	width: 122px;
	padding-bottom: 17px;
	position: relative;
}

#u169.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 90px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u169:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u169.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	z-index: 29;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u176
{
	z-index: 30;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u177
{
	z-index: 31;
	width: 1px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u75-bw
{
	z-index: 2;
	min-height: 59px;
}

#pu254
{
	width: 0.01px;
	margin-left: -101px;
	margin-top: 1px;
}

#u254
{
	z-index: 69;
	width: 1300px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/img_top_vision1.jpg") no-repeat center center;
	background-size: cover;
}

#u261
{
	z-index: 70;
	height: 888px;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	background: transparent url("../images/norwaydock.jpg") no-repeat center center;
	background-size: cover;
}

#u261-bw
{
	z-index: 70;
	margin-top: 399px;
	height: 888px;
}

#u268
{
	z-index: 71;
	width: 1096px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 99px;
}

#u268_position_content
{
	margin-bottom: -17px;
	width: 100%;
}

#pu271
{
	width: 0.01px;
	margin-left: 28px;
}

#u271
{
	z-index: 93;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u270-4
{
	z-index: 85;
	width: 382px;
	min-height: 82px;
	background-color: transparent;
	color: #C1272D;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: allura, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 333px;
}

#u269-13
{
	z-index: 72;
	width: 940px;
	min-height: 354px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: justify;
	font-family: buda, serif;
	font-weight: 300;
	margin-left: 80px;
	margin-top: 30px;
	position: relative;
}

#u787-4
{
	z-index: 89;
	width: 382px;
	min-height: 82px;
	background-color: transparent;
	color: #3E8C00;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	font-family: allura, cursive;
	font-weight: 400;
	margin-left: 361px;
	margin-top: 28px;
	position: relative;
}

#u793-21
{
	z-index: 95;
	width: 1050px;
	min-height: 82px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: buda, serif;
	font-weight: 300;
	margin-left: 22px;
	margin-top: 12px;
	position: relative;
}

#u793-2,#u793-3,#u793-5,#u793-6,#u793-8,#u793-9,#u793-11,#u793-12,#u793-14,#u793-15,#u793-17,#u793-18
{
	text-align: justify;
}

#u187
{
	z-index: 32;
	width: 1303px;
	padding-bottom: 108px;
	left: -99px;
	margin-top: 18px;
	position: relative;
}

#u212
{
	z-index: 55;
	width: 55px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 126px;
}

#u447
{
	z-index: 62;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 182px;
}

#pu209-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 189px;
}

#u209-8
{
	z-index: 33;
	width: 258px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
}

#u449-4
{
	z-index: 65;
	width: 255px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 2px;
}

#u448
{
	z-index: 63;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 466px;
}

#u819-14
{
	z-index: 41;
	width: 282px;
	min-height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 485px;
}

#u450
{
	z-index: 64;
	width: 1px;
	height: 91px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 828px;
}

#pu429
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 37px;
	margin-left: 851px;
}

#u429
{
	z-index: 56;
	width: 26px;
	position: relative;
}

#u435
{
	z-index: 58;
	width: 26px;
	margin-top: 1px;
	position: relative;
}

#u441
{
	z-index: 60;
	width: 26px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1100px;
	padding-top: 36px;
	padding-bottom: 179px;
}

